<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pb.dao.ClientDao">
    <select id="selClientByUsernamePassword" resultType="Client">
        select *
        from client
        where username = #{username} and password = #{password};
    </select>

    <select id="selClientByPage" resultType="Client">
        select *
        from client
        limit #{startIndex},#{pageSize};
    </select>

    <select id="selClientPageByFuzzyName" parameterType="string" resultType="Client">
        select *
        from client
        where username like concat('%',#{username},'%');
    </select>

    <select id="selRowCount" resultType="int">
        select count(*)
        from client;
    </select>

    <insert id="insertNewClient">
        insert into client(id, username, password, status)
        values (default,#{username},#{password},default);
    </insert>

    <update id="updatePassword" parameterType="Client">
        update client
        set password  =  #{password}
        where username = #{username};
    </update>
</mapper>
