<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pb.dao.DataDao">
    <!--<sql id="pageWhereSqlId">-->
        <!--<where>-->
            <!--<if test="name != null and name != '' ">-->
                <!--name like concat('%',#{name},'%')-->
    <!--</if>-->
    <!--</where>-->
    <!--</sql>-->
    <select id="findPageObjects" resultType="Data">
        select
        id, content, type, createdTime, createdUser, modifiedUser, modifiedTime, address, baiduyun, status
        from data
        <!--<include refid="pageWhereSqlId"/>-->
        where status = 1
        order by createdTime desc
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getRowCount" parameterType="Data" resultType="int">
        select count(*) from data where status = 1
        <!--<include refid="pageWhereSqlId"/>-->
    </select>

    <delete id="deleteObjects" parameterType="string">
        delete from data where id in
        <foreach collection="ids" open="(" close=")" separator=","
                 item="item">
            ${item}
        </foreach>
    </delete>

    <insert id="saveObjects" parameterType="Data">
        insert into data
        (id, content, type, createdTime, createdUser, address, baiduyun)
        <trim suffixOverrides="," prefix="values ( null," suffix=")">
            <if test="content != null and content != ''">#{content},</if>
            <if test="type != null and type != ''">#{type},</if>
            now(),
            <if test="createdUser != null and createdUser != ''">#{createdUser},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="baiduyun != null and baiduyun != ''">#{baiduyun},</if>
        </trim>
    </insert>

    <update id="updateObjects" parameterType="Data">
        update data set
        <trim suffixOverrides=",">
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="baiduyun != null and baiduyun != ''">baiduyun = #{baiduyun},</if>
            <if test="modifiedUser != null and modifiedUser != ''">modifiedUser = #{modifiedUser},</if>
            modifiedTime = now()
            where
            <if test="id != null and id != ''">id = #{id},</if>
        </trim>
    </update>
    <update id="updateStatusByNameOrID" >
        update data
        set status = 0
        <where>
          <if test="content != null and content != ''">content = #{content}</if>
          <if test="id != null and id != ''">and id = #{id}</if>
        </where>

    </update>
    <select id="findObjectById" parameterType="integer" resultType="data">
        select
        id, content, type, createdTime, createdUser, modifiedUser, modifiedTime, address, baiduyun, status
        from data
        <where>
            <if test="id != null and id != ''">id = #{id}</if>
        </where>
    </select>

    <select id="findByNameAndType" resultType="data">
        select
        id, content, type, createdTime, createdUser, modifiedUser, modifiedTime, address, baiduyun, status
        from data
        <where>
            <if test="content != null and content != ''">content like concat('%',#{content},'%')</if>
            <if test="type != null and type != ''">and type = #{type}</if>
            and status = 1
        </where>
        limit #{startIndex},#{pageSize}
    </select>


</mapper>