<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pb.dao.MessageDao">

    <update id="updateMessage" parameterType="String">
        update message set html = #{html}
    </update>

    <select id="selectMessage"  resultType="String">
        select * from message
    </select>



</mapper>